.header-wrapper{
    padding: 30px 25px;
}
.nav li {    
    float: left;    
    cursor: pointer;
    font-size: 13px;
    letter-spacing: .8px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    font-weight: 600;
    padding: 0 1px 4px;
    margin: 0 40px 0;
    color: #f0f1fb;
}