.route-content{
    width: 1240px;
    margin: 75px auto 0;
}
.btn.save {    
    color: #4b6cb7;    
    float: right;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;    
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    text-transform: uppercase;
    background: #FFF;
    border: none;
    border-radius: 15px;    
    padding: 5px 20px 6px;
    font-size: 15px;
    font-weight: 600;
}
.margin-top-50{
    margin-top: 50px;
}
.ui-inputgroup-addon-text{
    width:80%;
}
h1{
    display: inline-block;
    color: #4b6cb7;        
    font-size: 30px;
    line-height: 50px;
    padding-bottom: 20px;
    font-weight: 500;
}