.route-content{
    width: 1240px;
    margin: 75px auto 0;
}
h1{
    display: inline-block;
    color: #4b6cb7;        
    font-size: 30px;
    line-height: 50px;
    padding-bottom: 20px;
    font-weight: 500;
}