<section class="route-content">
    <div class="container-fluid">
        <div class="row">            
            <div class="col-md-12 col-lg-12">
                <h1 class="purple max-width-440">Events:</h1>
                <p-dataTable [value]="eventList">
                    <p-column field="id" header="Event ID"></p-column>
                    <p-column field="user" header="USER NAME"></p-column>
                    <p-column field="type" header="OPERATION TYPE"></p-column>
                    <p-column field="door" header="DOOR NAME"></p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</section>
