/* You can add global styles to this file, and also import other style files */

/* Reset CSS Starts */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset CSS Ends */



@font-face {
    font-family: Clay Text;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('https://fonts.gstatic.com/s/palanquin/v3/9XUilJ90n1fBFg7ceXwUrn9Yw5Gr.woff2') format("woff")
}

*{
    font-family: Clay Text;
}
.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td{
    color: #f0f1fb;
    border-color: #f0f1fb;;
    font-family: Clay Text !important;
    padding: 20px;
}
.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
    border-width: 3px;    
}
.ui-datatable-tablewrapper .ui-widget-content, .ui-datatable-tablewrapper .ui-widget-content, .ui-datatable-tablewrapper .ui-state-default,
.ui-datatable.ui-widget  tbody > tr.ui-widget-content.ui-datatable-odd, .ui-datatable.ui-widget  tbody > tr.ui-datatable-even.ui-widget-content{
    background: transparent !important;
}
.ui-multiselect-panel.ui-widget, .ui-multiselect.ui-widget{
    background: #FFF !important;
}
.ui-multiselect-panel .ui-chkbox.ui-widget{
    background: inherit !important;
}
.ui-growl-message-error .ui-growl-title{
	padding: 10px 0 0 5%;  
}	
.ui-growl-title{
	color: #FFFFFF;
	font-family: Clay Text !important;
	font-size: 16px;
	font-style: italic;
    font-weight: normal;
    margin-top: 5px;	  
}
.ui-growl-message p {
    font-weight: normal;
    padding: 5px 0 0 5%;
    font-size: 10px;    
    font-family: Clay Text !important;
}
.ui-growl-item-container.ui-state-highlight.ui-growl-message-success{
	background-color: #09B89D;
	border-color: #09B89D;
}
.ui-growl-item-container.ui-state-highlight.ui-growl-message-error {
    background-color: #E65A6D;
    border-color: #E65A6D;
}
.ui-growl-item-container.ui-state-highlight.ui-growl-message-warn {
    background-color: #E65A6D;
    border-color: #E65A6D;
}
.ui-togglebutton.ui-button.ui-state-active.ui-state-default, .ui-selectbutton .ui-button.ui-state-active.ui-state-default {
    border: 1px solid #156090;
    background: #09B89D !important;
    color: #FFFFFF;
}
.ui-togglebutton.ui-button.ui-state-default, .ui-selectbutton .ui-button.ui-state-default {
    border: 1px solid #d6d6d6;
    background: #E65A6D !important;
    font-weight: normal;
    color: #000;
}